<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="author" content="mironcoder" />
<meta name="email" content="mironcoder@gmail.com" />
<meta name="profile" content="https://themeforest.net/user/mironcoder" />
<meta name="template" content="greeny" />
<meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
<meta name="keywords"
	content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online" />
<title>Web bán hàng nông sản</title>
<link rel="icon" href="images/favicon.png" />
<link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
<link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
<link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
<link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
<link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
<link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
<link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/index.css" />
</head>
<body>
	
	<!--************************************
				Header Start
		*************************************-->
		<header th:replace="~{/web/fragments/header :: header}"></header>
		<!--************************************
				Header End
		*************************************-->
	
	<section class="home-index-slider slider-arrow slider-dots">
		<div class="banner-part banner-1">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6 col-lg-6">
						<div class="banner-content">
							<h1>Thực phẩm sạch ngày càng được ưa chuộng</h1>
							<p>Đời sống phát triển, con người trở nên quan tâm, chăm sóc sức khỏe của mình kĩ càng hơn.Nhờ vậy, xu hướng tiêu thụ thực phẩm sạch ngày càng phổ biến. Khách hàng sẵn sàng bỏ ra số tiền cao hơn để mua được đồ tự nhiên, lành mạnh, xuất xứ rõ ràng.</p>
							<div class="banner-btn">
								<a class="btn btn-inline"
									th:href="@{/products}">
									<i class="fas fa-shopping-basket"></i>
									<span>mua sắm ngay bây giờ</span>
								</a>
								<a class="btn btn-outline"
									href="javascript:void(0);">
									<i class="icofont-sale-discount"></i>
									<span>nhận đề nghị</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="banner-img">
							<img src="images/home/index/01.png" alt="index" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="banner-part banner-2">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6 col-lg-6">
						<div class="banner-img">
							<img src="images/home/index/02.png" alt="index" />
						</div>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="banner-content">
							<h1>GREENY</h1>
							<p> Vì lợi ích cộng đồng, khẩu hiệu “Dinh dưỡng an toàn từ mẹ thiên nhiên” được GREENY lựa chọn làm tiêu chí hoạt động. Đây là thông điệp, là cam kết mong muốn thể hiện hết tinh thần trách nhiệm trong từng sản phẩm để bảo vệ sức khỏe người tiêu dùng, đồng thời góp phần phát triển ngành thực phẩm dinh dưỡng sạch và lành mạnh tại Việt Nam.</p>
							<div class="banner-btn">
								<a class="btn btn-inline" th:href="@{/products}">
									<i class="fas fa-shopping-basket"></i>
									<span>mua sắm ngay bây giờ</span>
								</a>
								<a class="btn btn-outline"
									href="javascript:void(0);">
									<i class="icofont-sale-discount"></i>
									<span>nhận đề nghị</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section suggest-part">
		<div class="container">
			<ul class="suggest-slider slider-arrow">
				<li th:each="item : ${coutnProductByCategory}">
					<a class="suggest-card" th:href="@{/productByCategory(id=${item[0]})}">
						<img src="images/suggest/02.jpg" alt="suggest" />
							<h5>
								[[${item[1]}]] <span>số lượng : [[${item[2]}]] </span>
							</h5>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="section recent-part">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-heading">
						<h2>Mặt hàng bán chạy</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<ul class="new-slider slider-arrow">
						<li th:each="item : ${bestSaleProduct20}">
							<div class="product-card">
								<div class="product-media">
									<div class="product-label">
										<label class="label-text new">bán chạy</label>
										<label class="label-text sale">- [[${item.discount + '%'}]]</label>
									</div>
									<button class="product-wish wish">
										<i class="fas fa-heart"></i>
									</button>
									<a class="product-image" th:href="@{/productDetail(id=${item.productId})}">
										<img th:src="@{'/loadImage?imageName='+${item.productImage}}" alt="product" />
										</a>
									<div class="product-widget">
										 
										<a
											title="Video sản phẩm"
											href="https://youtu.be/9xzcVxSBbG8"
											class="venobox fas fa-play"
											data-autoplay="true"
											data-vbtype="video">
										</a>
										<a
											title="Chi tiết sản phẩm"
											th:href="@{/productDetail(id=${item.productId})}"
											class="fas fa-eye">
										</a>
									</div>
								</div>
								<div class="product-content">
									<div class="product-rating">
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
									
									<h6 class="product-name">
										<a th:href="@{/productDetail(id=${item.productId})}">[[${item.productName}]]</a>
									</h6>
									<h6 class="product-price">
										<del>[[${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]</del>
										<span>[[${#numbers.formatDecimal(item.price - (item.price * item.discount/100), 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]<small>/kg</small></span>
									</h6>
									<a class="product-add1" title="Thêm giỏ hàng" th:href="@{/addToCart(productId=${item.productId})}">
										<i class="fas fa-shopping-basket"></i><span>Thêm giỏ hàng</span>
									</a>
									
								</div>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="section-btn-25">
						<a th:href="@{/products}" class="btn btn-outline"><i
							class="fas fa-eye"></i><span>xem thêm</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="section promo-part">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="promo-img">
						<a href="javascript:void(0);"><img src="images/promo/home/03.jpg" alt="promo" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section feature-part">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-heading">
						<h2>Mặt hàng nổi bật</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<ul class="new-slider slider-arrow">
						<li th:each="item : ${bestSaleProduct20}">
							<div class="product-card">
								<div class="product-media">
									<div class="product-label">
										<label class="label-text feat">nổi bật</label>
										<label class="label-text sale">- [[${item.discount + '%'}]]</label>
									</div>
									<button class="product-wish wish">
										<i class="fas fa-heart"></i>
									</button>
									<a class="product-image" th:href="@{/productDetail(id=${item.productId})}">
										<img th:src="@{'/loadImage?imageName='+${item.productImage}}" alt="product" />
										</a>
									<div class="product-widget">
										
										<a
											title="Product Video"
											href="https://youtu.be/9xzcVxSBbG8"
											class="venobox fas fa-play"
											data-autoplay="true"
											data-vbtype="video">
										</a>
										<a
											title="Chi tiết sản phẩm"
											th:href="@{/productDetail(id=${item.productId})}"
											class="fas fa-eye">
										</a>
									</div>
								</div>
								<div class="product-content">
									<div class="product-rating">
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
									
									<h6 class="product-name">
										<a th:href="@{/productDetail(id=${item.productId})}">[[${item.productName}]]</a>
									</h6>
									<h6 class="product-price">
										<del>[[${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]</del>
										<span>[[${#numbers.formatDecimal(item.price - (item.price * item.discount/100), 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]<small>/kg</small></span>
									</h6>
									<a class="product-add1" title="Thêm giỏ hàng" th:href="@{/addToCart(productId=${item.productId})}">
										<i class="fas fa-shopping-basket"></i><span>Thêm giỏ hàng</span>
									</a>
									
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="section-btn-25">
						<a th:href="@{/products}" class="btn btn-outline"><i
							class="fas fa-eye"></i><span>xem thêm</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section countdown-part">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mx-auto">
					<div class="countdown-content">
						<h3>ƯU ĐÃI GIẢM GIÁ ĐẶC BIỆT CHO CÁC MẶT HÀNG</h3>
						<p>Giảm 20% cho tất cả các đơn hàng có giá trị từ 1.000.000 vnđ trở lên</p>
						<div class="countdown countdown-clock" data-countdown="2022/12/22">
							<span class="countdown-time"><span>00</span><small>days</small></span><span
								class="countdown-time"><span>00</span><small>hours</small></span><span
								class="countdown-time"><span>00</span><small>minutes</small></span><span
								class="countdown-time"><span>00</span><small>seconds</small></span>
						</div>
						<a th:href="@{/products}" class="btn btn-inline"><i
							class="fas fa-shopping-basket"></i><span>Mua sắm ngay bây
								giờ</span></a>
					</div>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-5">
					<div class="countdown-img">
						<img src="images/countdown.png" alt="countdown" />
						<div class="countdown-off">
							<span>20%</span><span>off</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section newitem-part">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section-heading">
						<h2>Mặt hàng mới về</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<ul class="new-slider slider-arrow">
						<li th:each="item : ${productList}">
							<div class="product-card">
								<div class="product-media">
									<div class="product-label">
										<label class="label-text new">mới</label>
										<label class="label-text sale">- [[${item.discount + '%'}]]</label>
									</div>
									<button class="product-wish wish">
										<i class="fas fa-heart"></i>
									</button>
									<a class="product-image" th:href="@{/productDetail(id=${item.productId})}">
										<img th:src="@{'/loadImage?imageName='+${item.productImage}}" alt="product" />
										</a>
									<div class="product-widget">
										
										<a
											title="Product Video"
											href="https://youtu.be/9xzcVxSBbG8"
											class="venobox fas fa-play"
											data-autoplay="true"
											data-vbtype="video">
										</a>
										<a
											title="Chi tiết sản phẩm"
											th:href="@{/productDetail(id=${item.productId})}"
											class="fas fa-eye">
										</a>
									</div>
								</div>
								<div class="product-content">
									<div class="product-rating">
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="active icofont-star"></i>
										<i class="icofont-star"></i>
									</div>
									<h6 class="product-name">
										<a th:href="@{/productDetail(id=${item.productId})}">[[${item.productName}]]</a>
									</h6>
									<h6 class="product-price">
										<del>[[${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]</del>
										<span>[[${#numbers.formatDecimal(item.price - (item.price * item.discount/100), 1, 'DEFAULT', 0, 'DEFAULT')}+' đ']]<small>/kg</small></span>
									</h6>
									<a class="product-add1" title="Thêm giỏ hàng" th:href="@{/addToCart(productId=${item.productId})}">
										<i class="fas fa-shopping-basket"></i><span>Thêm giỏ hàng</span>
									</a>
									
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="section-btn-25">
						<a th:href="@{/products}" class="btn btn-outline"><i
							class="fas fa-eye"></i><span>xem thêm</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="section promo-part">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
					<div class="promo-img">
						<a href="javascript:void(0);"><img src="images/promo/home/01.jpg" alt="promo" /></a>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
					<div class="promo-img">
						<a href="javascript:void(0);"><img src="images/promo/home/02.jpg" alt="promo" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<section class="section testimonial-part">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-heading">
						<h2>phản hồi của khách hàng</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="testimonial-slider slider-arrow">
						<div class="testimonial-card">
							<i class="fas fa-quote-left"></i>
							<p>Shop bán đồ uy tín chất lượng. Đặc biệt đồ ship đến tay rất tươi ngon .Cảm ơn shop rất nhiều
							</p>
							<h5>Nga Trần</h5>
							<ul>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
							</ul>
							<img src="images/avatar/01.jpg" alt="testimonial" />
						</div>
						<div class="testimonial-card">
							<i class="fas fa-quote-left"></i>
							<p>Từ khi biết nấu ăn hihi, mình rất yêu thích việc tự tay nấu cho gia đình mình một bữa thật an toàn tiết kiệm, do công việc khá bận rộn nên mình không thể ra chợ để lựa những đồ ăn được, mà đôi khi thực phẩm mua tại chợ lại thiếu an toàn mất vệ sinh, từ khi biết ở đây có cả đặt hàng online và ship tận nơi mình đã cảm thấy yên tâm hơn rất nhiều.
							</p>
							<h5>Thanh Huyền </h5>
							<ul>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
							</ul>
							<img src="images/avatar/02.jpg" alt="testimonial" />
						</div>
						<div class="testimonial-card">
							<i class="fas fa-quote-left"></i>
							<p>Từ ngày có hạt dẻ (bé SURI) trong bụng, mình bắt đầu lên mạng tìm hiểu thông tin về thực phẩm sạch, an toàn và chuỗi cửa hàng bán loại thực phẩm này. Sau một hồi tìm kiếm cũng tìm ra một vài cửa hàng khá nổi tiếng ở Hà Nội, nhưng lại ở khá xa chỗ vợ chồng mình sống nên rất bất tiện mỗi khi đi mua sắm.
							</p>
							<h5>Minh Hiền</h5>
							<ul>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
							</ul>
							<img src="images/avatar/03.jpg" alt="testimonial" />
						</div>
						<div class="testimonial-card">
							<i class="fas fa-quote-left"></i>
							<p>Mình là người rất yêu nội trợ nên việc chọn lựa để có một bữa ăn an toàn và sạch sẽ là điều rất quan tâm, đặc biệt là những bà mẹ mang bầu như mình. Hiện nay trên thị trường tràn lan những sản phẩm không rõ nguồn gốc xuất xứ khiến việc lựa chọn trở nên khó khăn hơn. Rất may mình đã tìm được những thứ mình cần tại đây.
							</p>
							<h5>Thúy Phương</h5>
							<ul>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
								<li class="fas fa-star"></li>
							</ul>
							<img src="images/avatar/04.jpg" alt="testimonial" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="news-part"
		style="background: url(images/newsletter.jpg) no-repeat center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-5 col-lg-6 col-xl-7">
					<div class="news-text">
						<h2>Nhận Chiết Khấu 20% Cho Người Đăng Ký</h2>
						<p>Nhận Chiết Khấu 20% Cho Người Đăng Ký</p>
					</div>
				</div>
				<div class="col-md-7 col-lg-6 col-xl-5">
					<form class="news-form">
						<input type="text" placeholder="Nhập Địa Chỉ Email Của Bạn" />
						<button>
							<span><i class="icofont-ui-email"></i>Gửi</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>
<!--	<section class="intro-part">-->
<!--		<div class="container">-->
<!--			<div class="row intro-content">-->
<!--				<div class="col-sm-6 col-lg-3">-->
<!--					<div class="intro-wrap">-->
<!--						<div class="intro-icon">-->
<!--							<i class="fas fa-truck"></i>-->
<!--						</div>-->
<!--						<div class="intro-content">-->
<!--							<h5>Giao Hàng Tận Nhà</h5>-->
<!--							<p>Quý khách muốn đặt hàng hãy vào website greeny.com  </p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-sm-6 col-lg-3">-->
<!--					<div class="intro-wrap">-->
<!--						<div class="intro-icon">-->
<!--							<i class="fas fa-sync-alt"></i>-->
<!--						</div>-->
<!--						<div class="intro-content">-->
<!--							<h5>Chính Sách Hoàn Trả</h5>-->
<!--							<p> Cam kết hoàn trả hàng cho khách hàng nếu sản phẩm không đạt yêu cầu, không đúng như đã cam kết trong vòng 24h kể từ thời điểm xuất kho</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-sm-6 col-lg-3">-->
<!--					<div class="intro-wrap">-->
<!--						<div class="intro-icon">-->
<!--							<i class="fas fa-headset"></i>-->
<!--						</div>-->
<!--						<div class="intro-content">-->
<!--							<h5>Hệ Thống Hỗ Trợ</h5>-->
<!--							<p> Hỗ trợ qua holline: 0977606733</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-sm-6 col-lg-3">-->
<!--					<div class="intro-wrap">-->
<!--						<div class="intro-icon">-->
<!--							<i class="fas fa-lock"></i>-->
<!--						</div>-->
<!--						<div class="intro-content">-->
<!--							<h5>Cách Thanh Toán An Toàn</h5>-->
<!--							<p> Chuyển khoản qua tài khoản của công ty hoặc trả cho đơn vị vận chuyển </p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
	
	<!--************************************
				Footer Start
		*************************************-->
		<footer th:replace="~{/web/fragments/footer :: footer}"></footer>
				
		<!--************************************
				Footer End
		*************************************-->
		
	<script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
	<script src="vendor/bootstrap/popper.min.js"></script>
	<script src="vendor/bootstrap/bootstrap.min.js"></script>
	<script src="vendor/countdown/countdown.min.js"></script>
	<script src="vendor/niceselect/nice-select.min.js"></script>
	<script src="vendor/slickslider/slick.min.js"></script>
	<script src="vendor/venobox/venobox.min.js"></script>
	<script src="js/nice-select.js"></script>
	<script src="js/countdown.js"></script>
	<script src="js/accordion.js"></script>
	<script src="js/venobox.js"></script>
	<script src="js/slick.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
