<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" th:href="@{static/css/footer.css}">

</head>
<body>
	<footer class="footer-part" th:fragment= "footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<a class="footer-logo" href="javascript:void(0);">
							<img src="/images/logo.png" alt="logo" />
						</a>
						<p class="footer-desc">Đời sống phát triển, con người trở nên quan tâm, chăm sóc sức khỏe của mình kĩ càng hơn.Nhờ vậy, xu hướng tiêu thụ thực phẩm sạch ngày càng phổ biến. Khách hàng sẵn sàng bỏ ra số tiền cao hơn để mua được đồ tự nhiên, lành mạnh, xuất xứ rõ ràng.</p>
						<ul class="footer-social">
							<li><a class="icofont-facebook" href="javascript:void(0);"></a></li>
							<li><a class="icofont-twitter" href="javascript:void(0);"></a></li>
							<li><a class="icofont-linkedin" href="javascript:void(0);"></a></li>
							<li><a class="icofont-instagram" href="javascript:void(0);"></a></li>
							<li><a class="icofont-pinterest" href="javascript:void(0);"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget contact">
						<h3 class="footer-title">Liên hệ chúng tôi</h3>
						<ul class="footer-contact">
							<li><i class="icofont-ui-email"></i>
								<p>
									<span>huylevan954@greeny.com</span>
								</p></li>
							<li><i class="icofont-ui-touch-phone"></i>
								<p>
									<span>0977606733</span>
								</p></li>
							<li><i class="icofont-location-pin"></i>
								<p>Phạm Văn Đồng, Bắc Từ Niêm, Hà Nội</p></li>
						</ul>
					</div>
				</div>

				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<h3 class="footer-title">Thông tin</h3>
						<div class="footer-links">
							<ul>
								<li><a href="javascript:void(0);">Thông tin giao hàng</a></li>
								<li><a href="javascript:void(0);">Tìm kiếm nâng cao</a></li>

							</ul>
							<ul>
								<li><a href="javascript:void(0);">Trợ giúp & câu hỏi</a></li>
								<li><a href="javascript:void(0);">Đơn hàng & trả hàng</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<h3 class="footer-title">Thời gian mở cửa</h3>
						<div class="footer-links">
							<ul>
								<li><a href="javascript:void(0);">Thứ 2-6 : 8h-20h</a></li>
								<li><a href="javascript:void(0);">T7-CN : 9h-17h</a></li>
								<li><a href="javascript:void(0);">Ngày lễ : Nghỉ</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="footer-bottom">
						<p class="footer-copytext" >Copyright &copy; 2022</p>
<!--						<div class="footer-card">-->
<!--							<a href="javascript:void(0);">-->
<!--								<img src="/images/payment/jpg/01.jpg" alt="payment" />-->
<!--							</a>-->
<!--							<a href="javascript:void(0);">-->
<!--								<img src="/images/payment/jpg/02.jpg" alt="payment" />-->
<!--							</a>-->
<!--							<a href="javascript:void(0);">-->
<!--								<img src="/images/payment/jpg/03.jpg" alt="payment" />-->
<!--							</a>-->
<!--							<a href="javascript:void(0);">-->
<!--								<img src="/images/payment/jpg/04.jpg" alt="payment" />-->
<!--							</a>-->
<!--						</div>-->
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>